<header>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
	== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
	<div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
	<p>
		Over time pages on the internet have become bigger and bigger, in fact the average web page is now <a href="https://speedcurve.com/blog/web-performance-page-bloat/">over 3MB is size</a>.
	</p>
	<p>
		<a href="https://1mb.club">1MB Club</a> celebrates sites that have avoided this bloat and managed to have a total payload under 1MB. I think along with this carrot we need a stick to bring attention to those whos bloat is excessive.
	</p>
	<p>
		Here at 10MB Club you will find a list of sites whose homepages requires the browser to download more than <strong>10MB</strong>.
	</p>
	<p>
		Help expand this list by adding more sites, or remove ones that are no longer bloaty. Open a pull request on the <a href="https://github.com/marcroberts/10mbclub">GitHub Repo</a>.
</header>
